%div.inst-box
  %header
    = f.label :name, 'Organization Name'
  %p
    = f.text_field :name, required: true, maxlength: 255, title: 'Type organization name here. Max length of 255 characters.', class: 'span10'
