= render 'admin/organizations/forms/fields', f: f, organization: organization

= f.submit t('admin.buttons.create_organization'), class: 'btn btn-primary btn-lg', data: { disable_with: 'Please wait...' }
