= field_set_tag do
  = url_field_tag 'organization[urls][]', '', class: 'span9', title: "Type url for this organization's website here"
  %br
  = link_to "Delete this website permanently", '#', class: "btn btn-danger delete_attribute"
