.inst-box
  %header
    %strong
      Accessibility Options
    %p.desc
      Which accessibility amenities are available at this location?
  = field_set_tag nil, id: 'accessibility' do
    = f.collection_check_boxes(:accessibility, Location.accessibility.options, :last, :first) do |b|
      = b.label { b.check_box + b.text }
