.inst-box.address
  %header
    %strong
      Street Address
    %span.desc
      The physical location.
  = f.fields_for :address do |builder|
    = render 'admin/locations/forms/address_fields', f: builder
  - unless @location.address.present?
    = link_to_add_fields 'Add a street address', f, :address
