= field_set_tag do
  = text_field_tag 'location[admin_emails][]', '', title: 'Type admin\'s email address here', class: 'span4'
  %br
  = link_to "Delete this admin permanently", '#', class: "btn btn-danger delete_attribute"
