= field_set_tag do
  .row
    .col-sm-6
      = email_field_tag 'location[admin_emails][]', '', class: 'form-control'
  = link_to t('admin.buttons.delete_admin'), '#', class: 'btn btn-danger delete_attribute'
  %hr
