.inst-box.contacts
  %header
    %strong
      Contacts
    %p.desc
      Who are the main points of contact at the location?
  = f.fields_for :contacts do |builder|
    = render 'admin/locations/forms/contact_fields', f: builder
  = link_to_add_fields 'Add a contact', f, :contacts