= field_set_tag do
  .row
    .col-md-6
      = email_field_tag 'location[emails][]', '', class: 'form-control'
  = link_to 'Delete this email permanently', '#', class: 'btn btn-danger delete_attribute'
  %hr
