%div.inst-box
  %header
    = f.label :name, 'Location Name'
    %span.desc
      The name of the organization at a location, such as a branch, department, or similar.
  %p
    = f.text_field :name, required: true, maxlength: 255, title: 'Type the name of the organization at this location such as a branch, department, etc. Max length of 255 characters.', class: 'span10'
