%div.inst-box.mail_address
  %header
    %strong
      Mailing Address
  = f.fields_for :mail_address do |builder|
    - if builder.object.last_changes.present?
      .changes.text-info= render "admin/application/changes", model: builder.object
    = render 'admin/locations/forms/mail_address_fields', f: builder
  - unless @location.mail_address.present?
    = link_to_add_fields 'Add a mailing address', f, :mail_address
