.inst-box.mail_address
  %header
    %strong
      Mailing Address
  = f.fields_for :mail_address do |builder|
    = render 'admin/locations/forms/mail_address_fields', f: builder
  - if @location.mail_address.blank?
    = link_to_add_fields t('admin.buttons.add_mailing_address'), f, :mail_address
