.inst-box
  %header
    = f.label :hours, 'Hours of operation'
    %span.desc
      When is the location open?
      %em
        For example, "Monday-Friday, 9-12, 2-5"
  %p
    = f.text_field :hours, class: 'form-control'
