%div.inst-box
  %header
    = f.label :transportation, 'Transportation Options'
    %span.desc
      What public transportation options are nearby? (Bus stops, train stations, etc.)
  %p
    = f.text_area :transportation, class: 'span9', maxlength: 255, title: "Type the public transportation options that are nearby such as buses, trains, etc. The names of nearby stops could be useful as well."
