= field_set_tag do
  = url_field_tag 'location[urls][]', '', class: 'span9', title: "Type the URL address for this location"
  %br
  = link_to "Delete this website permanently", '#', class: "btn btn-danger delete_attribute"
