%p Hello #{@resource.name}!
%p Someone has requested a link to change your password. You can do this through the link below.
%a{href: "#{ENV.fetch('PASSWORD_RECOVERY_CLIENT_URL')}?reset_password_token=#{@token}"} Change my password
%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.
