.inst-box
  %header
    = f.label :department, 'Contact Department'
  = field_set_tag do
    .row
      .col-sm-6
        = f.text_field :department, required: false, maxlength: 255, class: 'form-control'