/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#forkongithub a
{
  background:#03497e;
  color:#fff;
  text-decoration:none;
  font-family:arial, sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
  z-index:99999;
}

#forkongithub a:hover{
  background:#0596d5;
  color:#fff;
}

#forkongithub a::before,
#forkongithub a::after
{
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#fff;
}

#forkongithub a::after
{
  bottom:1px;top:auto;
}

  #forkongithub
  {
    position:absolute;
    display:block;
    top:0;
    right:0;
    width:200px;
    overflow:hidden;
    height:200px;
  }

  #forkongithub a{
    width:200px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    box-shadow:4px 4px 10px rgba(0,0,0,0.2);
    z-index:99999;
  }


html,body,main
{
  margin:0;
  padding:0;
  font-family:georgia,arial, sans-serif;
}

main h1
{
    margin:0;
    padding:0;
    font-size:64px;
    font-family:'Average';
    text-align: center;
    background:rgb(5,150,213);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(5, 150, 213, 0.3);
    position: relative;
    z-index: 99998;
    color:rgb(3,73,126);
}

main h1 .alpha
{
    font-size:24px;
    color:rgba(0,0,0,0.2);
    position: relative;
    top:-37px;
    left:3px;
}

main li .alpha
{
    font-size:16px;
    color:rgba(0,0,0,0.3);
    position: relative;
    top:-10px;
    left:3px;
}

main > section
{
    background:#fff;
    margin:0;
    padding:10px;
    min-height:500px;
    width:600px;
    margin:0 auto;
}

main > section ul
{
  list-style-type: none;
  padding-bottom:10px;
}

main > section li a
{
    background:rgb(131,180,26);
    margin:10px auto;
    border:1px solid $yellow_light_alpha40;
    font-family: 'Average', serif;
    font-size:24px;
    letter-spacing: 2px;
    border-radius: 13px;
    padding:16px;
    background: rgb(131,180,26); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(131,180,26,1) 0%, rgba(119,163,24,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(131,180,26,1)), color-stop(100%,rgba(119,163,24,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(131,180,26,1) 0%,rgba(119,163,24,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(131,180,26,1) 0%,rgba(119,163,24,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(131,180,26,1) 0%,rgba(119,163,24,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(131,180,26,1) 0%,rgba(119,163,24,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83b41a', endColorstr='#77a318',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 0px 5px rgba(0,0,0,0.40000000596046);    
    border:1px solid rgb(255,235,255);
    cursor:pointer;
    margin-right: 20px;
    display: block;
}

main > section li a,
main > section li a:visited
{
  text-decoration:none;
  color:rgb(255,246,177);
}

main > section li a:hover
{
    color:rgb(255,235,27);
    border:1px solid rgb(255,235,27);

    -webkit-transition: border 150ms;
    -moz-transition: border 150ms;
    transition: border 150ms;
}


main > section > p
{
  font-size:36px;
  text-align:center;
  margin-top:0;
  padding-top:0;
}

main > section > footer
{
  border-top:1px solid rgba(0,0,0,0.1);
  padding-top:20px;
  margin-top:20px;
  width: 560px;
  margin: 0 auto;
  margin-left: 40px;
  font-size:13px;
}

main > section > footer > p
{
  margin-left:20px;
  margin-right:20px;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
