.inst-box
  %header
    = f.label :application_process, 'Application process'
    %p.desc
      How does a client apply to receive services, if applicable?
  %p
    = f.text_area :application_process, class: 'form-control'
