%div.inst-box
  %header
    = f.label :audience, 'Audience'
    %p.desc
      What groups are served, if not everyone?
  %p
    = f.text_area :audience, class: 'span6', title: 'Type the intended audience or group(s) of people served by this organization or location'
