.inst-box
  %header
    %strong
      Categories
    %p.desc
      What categories best describe this service?
  = hidden_field_tag 'service[category_ids][]', nil
  = field_set_tag nil, id: 'categories' do
    = nested_categories(Category.arrange(order: :taxonomy_id))
