.inst-box
  %header
    = f.label :description, 'Description'
    %span.desc
      = t('.description')

  = field_set_tag do
    = f.text_area :description, required: false, class: 'form-control', rows: 5
