%div.inst-box
  %header
    = f.label :description, 'Description'
    %span.desc
      A description of the service.
  %p
    = f.text_area :description, required: true, class: 'span9', rows: 5, title: 'Type a description of the service offered by this location or organization'
