%div.inst-box
  %header
    = f.label :eligibility, 'Eligibility'
    %p.desc
      What criteria must served groups meet to receive service?
  %p
    = f.text_area :eligibility, class: 'span6', title: "Type the criteria that individuals or groups must meet in order to receive service at this location or organization"
