%div.inst-box
  %header
    = f.label :fees, 'Fees'
    %p.desc
      Are there any fees to receive this service?
  %p
    = f.text_area :fees, class: 'span5', title: 'Type any relevant fees, charges, or dues for receiving services at this location/organization'
