.inst-box
  %header
    %strong
      Funding Sources
    %p.desc
      How is this service funded? (You can enter multiple terms in this box by pressing the comma key after each one.)

  = field_set_tag do
    = text_field_tag 'service[funding_sources][]', @service.funding_sources.join(','), id: 'service_funding_sources', class: 'form-control'
