= field_set_tag do
  = text_field_tag 'service[keywords][]', '', class: 'span4', title: 'Type relevant keywords/search terms associated to the service offered at this location or organization'
  %br
  = link_to "Delete this keyword permanently", '#', class: "btn btn-danger delete_attribute"
