= field_set_tag do
  .row
    .col-md-6
      = text_field_tag 'service[keywords][]', '', class: 'form-control'
  = link_to 'Delete this keyword permanently', '#', class: 'btn btn-danger delete_attribute'
  %hr
