%div.inst-box
  %header
    = f.label :name, 'Service Name'
    %span.desc
      The name of the service.
  %p
    = f.text_field :name, required: true, maxlength: 255, class: 'span10', title: "Type the name of the service offered at this location/organization. Max length of 255 characters."
