= render 'admin/services/forms/fields', f: f

.save-box.navbar-default
  %p
    Creating service for
    %strong
      #{@location.name}
  = f.submit 'Create service', class: 'btn btn-success', data: { disable_with: 'Please wait...' }
