= render 'admin/services/forms/fields', f: f

.save-box.navbar-default
  %p
    Creating service for
    %strong
      = @location.name
  = f.submit t('admin.buttons.create_service'), class: 'btn btn-success', data: { disable_with: 'Please wait...' }
