.inst-box
  %header
    %strong
      = f.label :service_areas
    %p.desc
      = t('.description')

  = field_set_tag do
    = f.select :service_areas, SETTINGS.try(:[], :valid_service_areas), {}, multiple: true, class: 'form-control', data: { placeholder: t('.placeholder') }
