.inst-box
  %header
    %strong
      Service Areas
    %p.desc
      What city or county does the location serve?

  = field_set_tag do
    = f.select :service_areas, SETTINGS.try(:[], :valid_service_areas), {}, multiple: true, class: 'form-control'
