= field_set_tag do
  = url_field_tag 'service[urls][]', '', class: 'span9', title: 'Type the URL associated with this service'
  %br
  = link_to "Delete this website permanently", '#', class: "btn btn-danger delete_attribute"
