%div.inst-box
  %header
    = f.label :wait, 'Wait Time'
    %p.desc
      How long on average does a client need to wait to receive services?
  %p
    = f.text_area :wait, class: 'span5', title: "Type the average wait time for services at this location/organization"
