- if event.errors.any?
  .alert.alert-danger
    %h2 #{pluralize(event.errors.count, 'error')} prohibited this event from being saved:
    %ul
      - event.errors.full_messages.each do |msg|
        %li= msg
