.modal-dialog
  .modal-content
    .modal-header.categories-modal
      %h4.modal-title#my-modal-label
        Error
    .modal-body
      %p You already have 3 events featured in the month this event occurs. You may remove the featured flag from a different event if you like to feature this one.
    .modal-footer
      %button.btn.btn-default{ 'data-dismiss' => 'modal' } Close