%h1 Overview
%h2 User Agent Required
%p
  All API requests MUST include a valid User-Agent header. Requests with no User-Agent header will be rejected. We request that you use the name of your application for the User-Agent header value. This allows us to contact you if there are problems.

= render 'swagger_ui/swagger_ui', discovery_url: '/api/swagger_doc'