.EntityButton
  .NotUploaded
    %br
    %a.fa-stack.fa-lg.fa-2x{href: 'javascript:;'}
      .fa.fa-file-o.fa-stack-2x
      .fa.fa-upload.fa-stack-1x
    %br
    %br

  .Uploaded
    %br
    %a.fa-stack.fa-lg.fa-2x{href: 'javascript:;', style: 'color:green'}
      .fa.fa-file-o.fa-stack-2x
      .fa.fa-check.fa-stack-1x
    %br
    %br
.progress.center-block{style: 'max-width: 50%'}
  .progress-bar.progress-bar-success{style: 'width:0%'}