.tab-content
  #upload.tab-pane.fade.active.in
    %table.table.text-center.EntityTable
      %tr.Feedback
        %td.bg-danger.text-left{colspan: 3}
          %b.text-danger Errors
          %p Line 2: Holiday Schedule must belong to either a Location or Service
      %tr
        %td.Entity
          =render partial: 'welcome/btn_upload_file'
          %p
            Addresses
            
        %td.Entity
          =render partial: 'welcome/btn_upload_file'
          %p
            Contacts
        %td.Entity
          =render partial: 'welcome/btn_upload_file'
          %p
            Holiday schedules
      %tr
        %td.Entity
          =render partial: 'welcome/btn_upload_file'
          %p
            Locations
        %td.Entity
          =render partial: 'welcome/btn_upload_file'
          %p
            Mail addresses
        %td.Entity
          =render partial: 'welcome/btn_upload_file'
          %p
            Organizations
      %tr
        %td.Entity
          =render partial: 'welcome/btn_upload_file'
          %p
            Phones
        %td.Entity
          =render partial: 'welcome/btn_upload_file'
          %p
            Programs
        %td.Entity
          =render partial: 'welcome/btn_upload_file'
          %p
            Regular Schedules
      %tr
        %td.Entity
          =render partial: 'welcome/btn_upload_file'
          %p
            Services
        %td.Entity
          =render partial: 'welcome/btn_upload_file'
          %p
            Taxonomy



  #users.tab-pane.fade
    %h2.title Create users

  #taxonomy.tab-pane.fade
    %h2.title Create a taxonomy

  #configs.tab-pane.fade
    %h2.title Basic configurations
    %ol
      %li Upload logo
      %li Set the bounds of the geographic area of your services
