.tab-content
  #upload.tab-pane.fade.active.in
    %h2 Build your data on Google Docs
    %p You can use <a>this Google Doc</a> as a template to structure your data.
    %p
      .input-group
        %input.input-lg.form-control{placeholder:"Enter your google doc url", value:'https://docs.google.com/spreadsheets/d/1xBJANeJubgSV8lSFsNJTDCH9lSjZc0yrPu5vrQDmeqg/edit?usp=sharing'}
        .input-group-addon
          %a.fa.fa-google.c
    %p
      .btn-group.btn-group-lg
        %a.btn.btn-primary
          %span.fa.fa-upload
          Upload data
    .alert.alert-info#validationErrors
      Fields


  #users.tab-pane.fade
    %h2.title Create users

  #taxonomy.tab-pane.fade
    %h2.title Create a taxonomy

  #configs.tab-pane.fade
    %h2.title Basic configurations
    %ol
      %li Upload logo
      %li Set the bounds of the geographic area of your services
