=image_tag "http://ohanapi.org/img/ohana-logo.png", width: 340
%ul#welcomeTabs.list-unstyled
  %li
    %a.c{href: '#configs'}
      %h3
        Basic configurations
        %span.pull-right=fa_icon "cogs"
  %li
    %a.c{href: '#taxonomy'}
      %h3
        Choose taxonomy
        %span.pull-right=fa_icon "tag"
  %li
    %a.c{href: '#users'}
      %h3
        Create users
        %span.pull-right=fa_icon "users"
  %li.active
    %a.c{href: '#upload'}
      %h3
        Upload data
        %span.pull-right=fa_icon "upload"
  %li
    %a.c{href: '#review'}
      %h3
        Review
        %span.pull-right=fa_icon "eye"