%ul#welcomeTabs.list-unstyled
  %li
    %a.c{href: '#configs', title: 'Basic configurations'}
      .h3.text-center=fa_icon "cogs"

  %li
    %a.c{href: '#taxonomy', title: 'Choose taxonomy'}
      .h3.text-center=fa_icon "tag"

  %li
    %a.c{href: '#users', title: 'Create users'}
      .h3.text-center=fa_icon "users"

  %li.active
    %a.c{href: '#upload', title: 'Upload data'}
      .h3.text-center=fa_icon "upload"
