.container

  .alert.alert-warning
    Notice that this page has a unique url. If you dont' complete the configuration now, you can continue if you come back with the same url.

  .jumbotron{style: "min-height:600px"}
    %h2.title Configure your app
    .row
      .col-lg-4
        %ul#welcomeTabs.list-unstyled
          %li.active
            %a.c{href: '#preparation'}
              %h3
                Prepare your data
                %span.pull-right=fa_icon "database"
          %li
            %a.c{href: '#upload'}
              %h3
                Upload your data
                %span.pull-right=fa_icon "upload"
          %li
            %a.c{href: '#users'}
              %h3
                Create users
                %span.pull-right=fa_icon "users"
      .col-lg-8
        .tab-content
          #preparation.tab-pane.fade.in.active
            %h2.title Preparation

            %p Your data needs to conform to the OpenReferral standards. Read about these standards here.

            .text-left
              :plain
                <svg width='300' height='200'>
                  <rect width='300' height='200'  fill='lightblue' />
                  <text text-anchor='middle' x='50%' y='50%'>hello world</text>
                </svg>

          #upload.tab-pane.fade
            %h2.title Upload data

            %p Drag and drop your csv file over the nouns


          #users.tab-pane.fade
            %h2.title Create users



