.container
  %h1 Configure your app

  .progress
    .progress-bar(style="width: 10%;")

  .alert.alert-warning
    Notice that this page has a unique url. If you dont' complete the configuration now, you can continue if you come back with the same url.

  .row
    .col-lg-4
      .panel.panel-default
        .panel-body.bg-info
          %h2.text-center Prepare your data
          .text-center
            =fa_icon "database 2x"
    .col-lg-4
      .panel.panel-default
        .panel-body
          %h2.text-center Upload your data
          .text-center
            =fa_icon "upload 2x"
    .col-lg-4
      .panel.panel-default
        .panel-body
          %h2.text-center Create users
          .text-center
            =fa_icon "users 2x"

  .jumbotron
    %h2 Preparation

    %p Your data needs to conform to the OpenReferral standards. Read about them here.



