%p Thank you for your interest in Resource Finder.
%p This email is to notify you that your account has been Approved and you are ready to log in and complete your Organization profile so you can publish your Organization.
%p Please follow the link below to continue:
%a{:href => "#{ENV.fetch('FRONT_ENV_APP_URL')}/admin-login"}
  Login