.content-box
  %h1 Create a new contact

= form_for [:admin, @service.location, @service, @contact], html: { method: :post, class: 'edit_entry' } do |f|
  = render 'admin/contacts/forms/new_service_contact', f: f
