.inst-box
  %header
    = f.label :email, 'Email'
    %span.desc
      The #{f.object.class.to_s.downcase}'s general email.
  = field_set_tag do
    .row
      .col-sm-6
        = f.email_field :email, required: false, maxlength: 255, class: 'form-control'
