.inst-box.funding_sources
  %header
    %strong
      Funding Sources
    %p.desc
      How is this #{f.object.class.to_s.downcase} funded?
  = field_set_tag do
    = f.select :funding_sources, SETTINGS.try(:[], :funding_sources), {}, multiple: true, class: 'form-control'
