%h1 Developer Applications
%p These are the applications you have registered to use the Ohana API.

%ul
  - @api_applications.each do |api_application|
    %li
      = link_to "#{api_application.name} (#{api_application.main_url})", api_application_path(api_application)
%br
= link_to 'Register new application', new_api_application_path, :class => "btn btn-primary"
