
@import "font-awesome";
@import "bootstrap/variables";

.welcome.home{
  .c{
    cursor: pointer;
  }
  .title{
    margin-top:10px;
  }

  #welcomeTabs{
    border: none;

    li{
      border-bottom:solid 1px transparent;
    }
    .active{
      border-bottom:solid 1px;
    }
    a:hover{
      text-decoration: none;
    }
  }


}