
@import "font-awesome";
@import "bootstrap/variables";

.c{ cursor: pointer; }

#welcomeTabs{
  border: none;

  li{
    border-bottom:solid 1px transparent;
  }
  .active{
    border-bottom:solid 1px #ccc;
  }
  a:hover{
    text-decoration: none;
  }
}

.Entity{ width: 33%;}
