%p Hi #{@resource.name},
%p Thanks for signing up as an Ohana API SMC developer!
%p You can confirm your account email through the link below:
%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
%p
  After you've confirmed your account, check out the
  = link_to 'documentation', docs_url
  to get started.
