.modal-dialog
  .modal-content
    .modal-header.categories-modal
      %h4.modal-title#my-modal-label
        Categories
      = button_tag(type: 'button', class: 'btn btn-primary save-categories') do
        Save
    .modal-body
      %a.add-more Add Category
      %div.input-wrapper
        - Tag.all.order(:name).each do |tag|
          %div.categories-modal-input
            %input{ type: 'text', class: 'form-control', value: tag.name, disabled: tag.name == 'featured' || tag.name == 'front page' }
            - if tag.name != 'featured' && tag.name != 'front page'
              %span{class: 'glyphicon glyphicon-remove-sign remove-item', :'aria-hidden' => true, :'data-id' => tag.id}
    .modal-footer
      %button.btn.btn-default{ 'data-dismiss' => 'modal' } Close
